<html>
    <head>
        <title>my page</title>
        <link rel="stylesheet" href="../public/css/my.css">
        <style>
            .myclass{
                background-color: red;
                color:white;
                padding:20px;
            }
        </style>
    </head>
    <body>
        <h1 align="center">Welcome to node js</h1>
        <h1 class="myclass">how are you</h1>
        <h1 style="background-color:red;color:white;padding:20px">hi</h1>
        <h1 class="test">this is me</h1>
        <a href="/chd">About US</a>
        <a href="/addpage">addition page</a>
        <a href="/find_multi">multiplication</a>
        <a href="/subtract">subtract app</a>
        <a href="/add_info">student add</a>
        <a href="/student_display">display student</a>
        <a href="/emp">add employee</a>
        <a href="/emp_display">display emp record</a>
        
    </body>
</html>