<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Student Registration Form</h1>
        <form action="/add_info" method="post">
            Student Name<input type="text" name="name"required placeholder="enter student name"><br><br>
            student Age<input type="number" name="age"required placeholder="enter student age"><br><br>
            Student Branch<select required name="brn">
                <option selected disabled value="" >Select Student Branch</option>
                <option>Computer Science</option>
                <option>Civil Engg</option>
                <option>Mechanical Engg</option>
                </select><br><br>
                <button>add now</button>
                </form>
                <%
                if(message)
                {%>
                <%=message%>
            <%}%>
    </center>
</body>
</html>